@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	text-align: center;
	background-color: #142867;
	color: white;
	font-family: 'Barlow', sans-serif;
	h1{
		font-size: 1.4em;
		margin: 10px 0 5px;
	}
	h2{
		font-size: 1em;
		margin: 10px 0 0;
	}
	select{
		width: 250px;
	}
	.input {
		line-height: 25px;
		border: 2px solid transparent;
		border-bottom-color: #777;
		padding: .2rem 0;
		outline: none;
		background-color: transparent;
		color: white;
		transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
		&:focus::placeholder {
			opacity: 0;
			transition: opacity .3s;
		}
		&:focus,
		input:hover {
			outline: none;
			padding: .2rem 1rem;
			border-radius: 1rem;
			border-color: #7a9cc6;
		}
		&::placeholder {
			color: white;
		}
	}
	.volver{
		display: flex;
		justify-content: space-around;
		max-width: 380px;
		margin: auto;
		a{
			text-decoration: none;
			color: white;
			border-bottom: 1px solid #777;
			margin: 20px;
		}
	}
}