* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #090d3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body img {
  margin: 10px auto 10px;
  width: 100px;
}

body a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  margin: 13px 40% 0 0;
}

body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body form .input {
  line-height: 10px;
  border: 2px solid transparent;
  border-bottom-color: white;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body form .input:focus,
body form .input input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}

body form .input::-webkit-input-placeholder {
  color: white;
}

body form .input:-ms-input-placeholder {
  color: white;
}

body form .input::-ms-input-placeholder {
  color: white;
}

body form .input::placeholder {
  color: white;
}

body form .input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

body form .input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

body form .input:focus::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

body form .input:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

body form label {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 7px auto;
  width: 320px;
}

body button {
  margin: 10px auto;
  border: none;
  background: none;
  --primary-color: #ffff;
  --hovered-color: #cf2e2e;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

body button p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Crear cuenta!";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

body button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

body button:hover::after {
  width: 100%;
}

body button:hover p::before {
  width: 100%;
}

body button:hover svg {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  color: var(--hovered-color);
}

body button svg {
  color: var(--primary-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  width: 15px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
/*# sourceMappingURL=style.css.map */